
<div class = "tab-content">
   <a href="/users/newslist" class = "tab-pane fade in active" id = "News List">News List</a>
   <a href="/users/newsview" class = "tab-pane fade" id = "svn">News View</a>
   <a href="/users/logout" class = "tab-pane fade" id = "ios">Logout</a>
</div>