<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		function register() {

		}
	</script>
  </head>

  <body>
  <div class="container">
    
    <h2>Login</h2>
		<form method="post" action="/users/login" >
		    <div class="form-group">
		        <label for="username">Username</label>
		        <input type="text"  />
		    </div>
		    <div class="form-group">
		        <label for="password">Password</label>
		        <input type="password"  />
		    </div>
		    <div class="form-group">
		        <button  class="btn btn-primary">Login</button>
		        
		        <button onclick="register()" type="button" class="btn btn-link">Register</button>
		    </div>
		</form>
	    

	</div>
  </body>
</html>
